<div class="jumbotron text-center">
<h1 class="disply-3">{{title}}</h1>
<p class="lead">
    Write down your next youtube video idea.
</p>
<a href="/ideas/Add" class="btn btn-dark btn-lg">Add video Idea</a>

</div>